[database]
adaptor=json

[Matrix]
# Supersecret AS token from registration.yaml.
token=supersekrettoken
# URL for Matrix API.
api_url=http://localhost:8008/_matrix/client/api/v1
# Room ID.
room_id=!CvcvRuDYDzTOzfKKgh:localhost

[XMPP]
# MUC to join.
muc_room=test@conference.example.com
# Nickname for bridge's master user in MUC.
nick=mxbridge
# XMPP account.
username=test@example.com
# XMPP password.
password=supersekret
# XMPP server address. Required.
server_address=127.0.0.1

[appservice_listener]
# Address on which Matrix App Service will listen. Should be
# equal to host part from "url" parameter of registartion.yaml.
listen_address=localhost
# Port for Matrix App Service listener. Should be equal to
# port part from "url" parameter of registartion.yaml.
listen_port=5000

[appservice]
# Prefix that will be used by pseudousers mapping.
users_prefix=xmpp_
# Domain on which Matrix homeserver is run.
domain=localhost
